    .floatitright {
        float: right;
    }
    
    .floatitleft {
        float: left;
    }
    
    body {
        margin-top: 60px;
    }
    
    .connectthumb {
        width: 18%;
        max-width: 50px;
        height: auto;
    }
    
    #authpic {
        max-width: 120px;
        height: auto;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    footer {
        height: 5%;
        color: #9D9D95;
        text-align: center;
        padding: 10px;
    }